<nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="../../../assets/Purissima_Logo.png" alt="logo" width="112" height="28">
      </a>
      <div class="navbar-burger is-active" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-brand" *ngIf='usuario.Role === "ADMIN_ROLE" && usuario.Departamento == "soporte"'>
      <a routerLink='/dashboard' routerLinkActive='is-active' class="navbar-item">Dashboard</a>
      <a routerLink='/monitoreo' routerLinkActive='is-active' class="navbar-item">Monitoreo</a>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <figure class="image is-32x32">
                <img class="is-rounded" [src]="usuario.mostrarImagen()">
              </figure>
             {{usuario.Nombre}} {{usuario.Apellido}} 
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" routerLink='perfil'>
              Perfil
            </a>
            <a class="navbar-item" routerLink='configuracion'>
              Configuración
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" (click)='cerrarSession()'>
              Cerrar sesion
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>